<script type="text/html" id="home">    
  <div class="page">
    <form class="login container" id="login-form">
      <h1 class="main-heading">Login</h1>

      <p class="login__error"><%= error %></p>
  
      <label for="username-input" class="login__label">Username:</label>
      <input 
        type="text" 
        class="login__input" 
        id="username-input" 
        name="username" 
        placeholder="Type your username"
        required
      />
  
      <label for="password-input" class="login__label">Password:</label>
      <input 
        type="password" 
        class="login__input" 
        id="password-input" 
        name="password" 
        placeholder="Type your password"
        required
      />
  
      <button type="submit" class="main-button">Login</button>

    </form>
  </div>
</script>

